// Fonts
$font-p: "Raleway", sans-serif;
// Colors
$azul: #3c4ab3;
$negro: #0d0b04;
$blanco: #fcfefe;
$amarillo: #f4d03f;
$rojoClaro: #ff002f;
$rojoOscuro: #e00029;
$esmeraldaClaro: #16a085;
$esmeraldaOscuro: #148f77;
$grisClaro: #d5d8dc;
$grisOscuro: #1a1a1a;

// Variables
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;