@use "base/variables" as v;
@use "base/mixins" as m;

.login-design {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  height: 100vh;
}

.picture-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  padding: 5rem;
}

.login-flex {
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.centrado {
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url(../../img/logo_w.svg);

  .contenido-header {
    justify-content: center;
  }

  a {
    color: v.$negro;
    font-size: 2rem;
    padding: 1.5rem 1rem;
  }

  .login {
    input[type="text"],
    input[type="password"] {
      // outline: none;
      padding: 20px;
      display: block;
      width: 300px;
      border: 1px solid v.$grisClaro;
      margin: 20px auto;
    }
    .bt-file {
      width: 300px;
      margin: 20px auto;
      cursor: pointer;
    }
  }

  .centrado-login {
    padding: 20px 0;
    margin-bottom: 10px;
    justify-content: center;
  }
}
