@use "base/variables" as v;
@use "base/mixins" as m;

.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  margin: 20px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: all 0.4s cubic-bezier(0.68, 0.55, 0.265, 1.55);
}

.wrapper .icon a {
  position: relative;
  height: 42px; // tamaño de circulo
  width: 42px;
  display: block;
  background-color:gainsboro;
  text-align: center;
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); // sombreado del circulo
}

.wrapper .icon a i {
  font-size: 15px;
  line-height: 15px;
}

.wrapper .icon:hover a {
  color: v.$blanco;
}

.wrapper .icon .tooltip {
  position: absolute;
  top: 0px;
  background-color: v.$grisClaro;
  color: v.$blanco;
  font-size: 10px;
  padding: 10px 15px;
  border-radius: 25px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, 0.55, 0.265, 1.55); // tiempo de animación (modificar 0.3 para aumentar o disminuir velocidad
}

.wrapper .icon:hover .tooltip {
  top: -50px; // lugar de nombre emergente
  opacity: 1;
  pointer-events: auto;
}

.wrapper .icon .tooltip::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background-color: v.$grisClaro;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg); // rotación
  transition: all 0.4s cubic-bezier(0.68, 0.55, 0.265, 1.55);
}

.wrapper .icon:hover a,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba (0, 0, 0, 0.4);
}

.wrapper .whatsapp:hover a,
.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip::before {
  background: v.$esmeraldaClaro;
}

.wrapper .facebook:hover a,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: v.$azul;
}

.wrapper .youtube:hover a,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: v.$rojoClaro;
}

.wrapper .github:hover a,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: v.$grisOscuro;
}

.wrapper .linkedin:hover a,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #4391f8;
}
