@use "base/variables" as v;
@use "base/mixins" as m;

.flex-container {
  text-align: center;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.centrar-responsables {
  border: .1rem solid v.$rojoClaro;
  border-radius: 1rem;
  margin-top: 1rem;
  padding: .8rem;
  width: 100%;
}
